<%- include('../partials/header') -%>

<div class="jumbotron all-posts-section">
    <div class="container m-4">
        <div class="row">
            <div class="col-md-11">
                <h1 class="font-weight-light"><span class="font-weight-bold">All Posts</span></h1>
                <a class="btn mt-2 btn-lg post-button text-white" href="/articles/new">+ Post</a>
            </div>
            <div class="col-md-1">
                <img src="/images/Woman.png" alt="woman drawing" width="250">
            </div>
        </div>
    </div>
</div>

<% articles.forEach(article => { %>
<div class="card m-5">
    <div class="card-header">
        <h3 class="card-title"><%= article.title %></h3>
    </div>
    <div class="card-body">
        <p class="text-muted"><%= article.createdAt.toLocaleDateString() %></p>
        <p class="card-text"><%= article.content %></p>
        <a href="/articles/<%= article.id %>" class="btn btn-outline-primary">Read More</a>
        <a class="btn btn-outline-warning" href="/articles/edit/<%= article._id %>">Edit</a>
        <form class="d-inline" action="/articles/<%= article._id %>?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger" type="submit">Delete</button>
        </form>
    </div>
</div>
<% }) %>

<%- include('../partials/footer') -%>