<%- include('../partials/header') -%>

<div class="card m-5">
    <div class="card-header">
        <h3 class="card-title"><%= article.title %></h3>
    </div>
    <div class="card-body">
        <p class="text-muted"><%= article.createdAt.toLocaleDateString() %></p>
        <p class="card-text"><%= article.content %></p>
        <a href="/" class="btn btn-outline-primary">Go Back</a>
        <a class="btn btn-outline-warning" href="/articles/edit/<%= article._id %>">Edit</a>
        <form class="d-inline" action="/articles/<%= article._id %>?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger">Delete</button>
        </form>
    </div>
</div>

<%- include('../partials/footer') -%>